{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<style>
    .image {
        width: 100%;
        height: auto;

    }
    .ser{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-color: #081c15;
    color: whitesmoke;
    }
    .biz{
        color: black;
    }
</style>

<div class="container ser">
    <h2 class="text-center mb-5">Results</h2>

    <div class="row biz">


        {% for business in businesses %}
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-capitalize">{{ business.biz_name }}</h5>
                                <p>{{ business.contact }}</p>
                                <p>{{ business.neighborhood }}</p>
                    
                                <a href="malto:{{ business.email_address }}" class="card-link">Email: <span class="text-bold text-primary">{{ business.email_address }}</span> </a>
                            </div>
                        
                       <br>
                        </div>
                    </div>
                  </div>
            </div>

            {% empty %}
            <div class="col-md-12">
                <div class="card mb-4 post-card">
                    <div class="card-body text-center">
                        <h6 class="fade-item mb-2 text-danger">No businesses found within your Neighborhood!!</h6>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}